@import 'nib'

body {
    font-family: helvetica,'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 12px;
    text-align: center;
}
#wrapper {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 980px;
};
h1 {
    font-size: 2.6em;
    line-height: 1em;
}
.graphContainer {
    height: 600px;
    width: 100%;
}
a.chartSubtitle {
    color: #2B4786
    text-decoration: none;
    &:hover {
        color: #4480C1;
    }
}
.infoText {
    border: 1px solid #555;
    display: inline-block;
    font-size: 1.45em;
    height: 1.2em;
    padding: .5em 1em;
    vertical-align: middle;

  &.correlation {
    line-height: 0.8em;
  }
}