<html>
    <head>
        <meta charSet="utf-8" />
        <title>{{title}}</title>
        <link rel="stylesheet" type='text/css' href="/app.css" />
        <script type="text/javascript" src="/app.js" defer></script>
    </head>
    <body>
        <div id="container">
            {{{body}}}
        </div>
    </body>
</html>